@page
@model ConfirmEmailModel
@using Microsoft.AspNetCore.Mvc.RazorPages


<h1>Confirm email</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<button onclick="location.href='/'">Return to HomePage</button>       <!--Javascript code-->

