@page "/AddTask"
@using ITEC245__ToDo_App_Final_Project__.Models
@using ITEC245__ToDo_App_Final_Project__.Data
@using ITEC245__ToDo_App_Final_Project__.Components
@using Microsoft.EntityFrameworkCore

<AuthorizeView Roles="Admin">
    <Authorized>
        <AddATaskComponent/>
    </Authorized>
    <NotAuthorized>
        <h3>You don't have authourization to use this page.</h3>
    </NotAuthorized>
</AuthorizeView>

@code {
    
}