@page "/AddTask"
@using ITEC245__ToDo_App_Final_Project__.Models
@using ITEC245__ToDo_App_Final_Project__.Data
@using Microsoft.EntityFrameworkCore

<h3>AddTask</h3>

<form method="post">
    <div class="row mt-1">
        <label class="col-md-2">Task Name:</label>
        <input class="col-md-3" type="text" name="TaskName"/>
    </div>
    <div class="row mt-1">
        <label class="col-md-2">Task Detail:</label>
        <textarea class="col-md-3 h-75" rows="4" name="TaskDetail"></textarea>
    </div>
    <div class="row mt-1">
        <label class="col-md-2">Assigned To:</label>
        <select class="col-md-3">
            @* @foreach (User user in Users) *@
            @* { *@
            @*     <option>@user.FirstName + @user.LastName</option> *@
            @* } *@
        </select>
    </div>
</form>

@code {

    private List<User> Users;
    
    protected override void OnInitialized()
    {
        using (var context = new ToDoAppDbContext())
        {
            Users = context.Users.ToList();
        }        
    }

}