@page "/AdministratorCenter"
@inject NavigationManager NavigationManager
@using ITEC245__ToDo_App_Final_Project__.Models
@using ITEC245__ToDo_App_Final_Project__.Data

<AuthorizeView Roles="Admin">
    <Authorized>
                
<h3>Administrator Center</h3>

@* Should show a page of all current tasks. Buttons should exist to add a new task (page redirect), delete a task, edit a task. *@

@* Table will go here *@

<div class="row flex-column m-1 mt-5">
    <button class="col-md-1 p-2" @onclick=AddTask>Add a Task</button>
    <button class="col-md-1 p-2" @onclick=EditTask>Edit a Task</button>
    <button class="col-md-1 p-2" @onclick=DeleteTask>Delete a Task</button>
</div>

    </Authorized>
</AuthorizeView>

@code{

    private void AddTask()
    {
        NavigationManager.NavigateTo("/AddTask", true);
    }
    
    private void EditTask()
    {
    }
    
    private void DeleteTask()
    {
    }

}