@page "/AllTasks"
@using ITEC245__ToDo_App_Final_Project__.Data;
@using ITEC245__ToDo_App_Final_Project__.Components;

@inject NavigationManager NavigationManager

<h3><strong>All Tasks</strong></h3>
<AuthorizeView Roles="Admin">
    <Authorized>
        <button class="btn btn-danger" @onclick=AddTask>Add a Task</button>
    </Authorized>
</AuthorizeView>
<TaskListComponent _EditTask=true _Tasks="Tasks" />

@code {
    private List<Models.Task> Tasks;

    protected override void OnInitialized()
    {
        using(var context = new ToDoAppDbContext())
        {
            Tasks = context.Tasks.OrderBy(t => t.Status).ThenBy(x => x.TaskId).ToList();
        }
    }

    private void AddTask()
    {
        NavigationManager.NavigateTo("/AddTask", true);
    }
}
